/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", 'Lato', 'Noto' ,"Helvetica Neue", Arial, sans-serif;
  color: #121212;
}

.fs-1 {
  font-size: 16px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 48px;
}

.fs-4 {
  font-size: 72px;
}

.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.5;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.font-primary {
  color: #198754;
}

.font-secondary {
  color: #00000099;
}

.font-danger {
  color: #DC3545;
}

.font-info {
  color: #6C757D;
}

.font-light {
  color: #F8F9FA;
}

.font-dark {
  color: #121212;
}

.text-top {
  text-align: top;
}

.text-right {
  text-align: right;
}

.text-bottom {
  text-align: bottom;
}

.text-left {
  text-align: left;
}

.font-Lato {
  font-family: "Lato";
}

.font-Merriweather {
  font-family: "Merriweather";
}

.font-italic {
  font-style: italic;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.col-1 {
  width: 118px;
}

.col-2 {
  width: 236px;
}

.col-3 {
  width: 354px;
}

.col-4 {
  width: 472px;
}

.col-5 {
  width: 590px;
}

.col-6 {
  width: 708px;
}

.col-7 {
  width: 826px;
}

.col-8 {
  width: 944px;
}

.col-9 {
  width: 1062px;
}

.col-10 {
  width: 1180px;
}

.col-11 {
  width: 1298px;
}

.col-12 {
  width: 1416px;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.m-1 {
  margin: 16px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 24px;
}

.m-4 {
  margin: 32px;
}

.m-5 {
  margin: 48px;
}

.mt-1 {
  margin-top: 16px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 48px;
}

.me-1 {
  margin-right: 16px;
}

.me-2 {
  margin-right: 20px;
}

.me-3 {
  margin-right: 24px;
}

.me-4 {
  margin-right: 32px;
}

.me-5 {
  margin-right: 48px;
}

.mb-1 {
  margin-bottom: 16px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 48px;
}

.ms-1 {
  margin-left: 16px;
}

.ms-2 {
  margin-left: 20px;
}

.ms-3 {
  margin-left: 24px;
}

.ms-4 {
  margin-left: 32px;
}

.ms-5 {
  margin-left: 48px;
}

.mx-1 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-5 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-5 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.-ms-1 {
  margin-left: -1px;
}

.p-1 {
  padding: 16px;
}

.p-2 {
  padding: 24px;
}

.p-3 {
  padding: 30px;
}

.p-4 {
  padding: 48px;
}

.p-5 {
  padding: 96px;
}

.pt-1 {
  padding-top: 16px;
}

.pt-2 {
  padding-top: 24px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 48px;
}

.pt-5 {
  padding-top: 96px;
}

.pe-1 {
  padding-right: 16px;
}

.pe-2 {
  padding-right: 24px;
}

.pe-3 {
  padding-right: 30px;
}

.pe-4 {
  padding-right: 48px;
}

.pe-5 {
  padding-right: 96px;
}

.pb-1 {
  padding-bottom: 16px;
}

.pb-2 {
  padding-bottom: 24px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 48px;
}

.pb-5 {
  padding-bottom: 96px;
}

.ps-1 {
  padding-left: 16px;
}

.ps-2 {
  padding-left: 24px;
}

.ps-3 {
  padding-left: 30px;
}

.ps-4 {
  padding-left: 48px;
}

.ps-5 {
  padding-left: 96px;
}

.px-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-2 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-4 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-5 {
  padding-left: 96px;
  padding-right: 96px;
}

.py-1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-2 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-4 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-5 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.w-1 {
  width: 10px;
}

.w-2 {
  width: 20px;
}

.w-3 {
  width: 30px;
}

.w-4 {
  width: 40px;
}

.w-5 {
  width: 50px;
}

.w-14 {
  width: 140px;
}

.h-1 {
  height: 10px;
}

.h-2 {
  height: 20px;
}

.h-3 {
  height: 30px;
}

.h-4 {
  height: 40px;
}

.h-5 {
  height: 50px;
}

.h-14 {
  height: 140px;
}

.border-primary {
  border: 1px #198754 solid;
}

.border-secondary {
  border: 1px #00000099 solid;
}

.border-danger {
  border: 1px #DC3545 solid;
}

.border-info {
  border: 1px #6C757D solid;
}

.border-light {
  border: 1px #F8F9FA solid;
}

.border-dark {
  border: 1px #121212 solid;
}

.border-top-primary {
  border-top: 1px #198754 solid;
}

.border-top-secondary {
  border-top: 1px #00000099 solid;
}

.border-top-danger {
  border-top: 1px #DC3545 solid;
}

.border-top-info {
  border-top: 1px #6C757D solid;
}

.border-top-light {
  border-top: 1px #F8F9FA solid;
}

.border-top-dark {
  border-top: 1px #121212 solid;
}

.border-right-primary {
  border-right: 1px #198754 solid;
}

.border-right-secondary {
  border-right: 1px #00000099 solid;
}

.border-right-danger {
  border-right: 1px #DC3545 solid;
}

.border-right-info {
  border-right: 1px #6C757D solid;
}

.border-right-light {
  border-right: 1px #F8F9FA solid;
}

.border-right-dark {
  border-right: 1px #121212 solid;
}

.border-bottom-primary {
  border-bottom: 1px #198754 solid;
}

.border-bottom-secondary {
  border-bottom: 1px #00000099 solid;
}

.border-bottom-danger {
  border-bottom: 1px #DC3545 solid;
}

.border-bottom-info {
  border-bottom: 1px #6C757D solid;
}

.border-bottom-light {
  border-bottom: 1px #F8F9FA solid;
}

.border-bottom-dark {
  border-bottom: 1px #121212 solid;
}

.border-left-primary {
  border-left: 1px #198754 solid;
}

.border-left-secondary {
  border-left: 1px #00000099 solid;
}

.border-left-danger {
  border-left: 1px #DC3545 solid;
}

.border-left-info {
  border-left: 1px #6C757D solid;
}

.border-left-light {
  border-left: 1px #F8F9FA solid;
}

.border-left-dark {
  border-left: 1px #121212 solid;
}

.border-top-none {
  border-top: none;
}

.border-right-none {
  border-right: none;
}

.border-bottom-none {
  border-bottom: none;
}

.border-left-none {
  border-left: none;
}

.border-none {
  border: none;
}

.border-radius-round {
  border-radius: 4px;
}

.border-top-right-radius-round {
  border-top-right-radius: 4px;
}

.border-top-left-radius-round {
  border-top-left-radius: 4px;
}

.border-bottom-right-radius-round {
  border-bottom-right-radius: 4px;
}

.border-bottom-left-radius-round {
  border-bottom-left-radius: 4px;
}

.border-radius-pill {
  border-radius: 50px;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.align-items-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.align-items-evenly {
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.align-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.align-self-around {
  -ms-flex-item-align: space-around;
      -ms-grid-row-align: space-around;
      align-self: space-around;
}

.align-self-between {
  -ms-flex-item-align: space-between;
      -ms-grid-row-align: space-between;
      align-self: space-between;
}

.align-self-evenly {
  -ms-flex-item-align: space-evenly;
      -ms-grid-row-align: space-evenly;
      align-self: space-evenly;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.link-primary {
  color: #121212;
}

.link-primary:hover {
  color: #5f5f5f;
}

.link-primary-left {
  border-left: 4px solid transparent;
}

.link-primary-left:hover {
  border-left: 4px #198754 solid;
  color: #198754;
}

.text-align-center {
  text-align: center;
}

.home-banner-description {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-banner {
  -o-object-fit: cover;
     object-fit: cover;
}

.home-banner-link {
  border: 1px #121212 solid;
  padding: 36px 48px;
  font-size: 24px;
  color: #121212;
}

.home-banner-link:hover {
  color: #5f5f5f;
}

.btn {
  font-weight: 700;
  padding: 4px 10px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
}

.btn-file {
  background-color: #F8F9FA;
  color: #121212;
  border: 1px #6C757D solid;
}

.btn-file:hover {
  background-color: #dae0e5;
}

.btn-primary {
  color: #198754;
  border: 1px #198754 solid;
}

.btn-primary:hover {
  background-color: #198754;
  color: #fff;
}

.btn-secondary {
  color: #00000099;
  border: 1px #00000099 solid;
}

.btn-secondary:hover {
  background-color: #00000099;
  color: #fff;
}

.btn-danger {
  color: #DC3545;
  border: 1px #DC3545 solid;
}

.btn-danger:hover {
  background-color: #DC3545;
  color: #fff;
}

.btn-info {
  color: #6C757D;
  border: 1px #6C757D solid;
}

.btn-info:hover {
  background-color: #6C757D;
  color: #fff;
}

.btn-light {
  color: #F8F9FA;
  border: 1px #F8F9FA solid;
}

.btn-light:hover {
  background-color: #F8F9FA;
  color: #fff;
}

.btn-dark {
  color: #121212;
  border: 1px #121212 solid;
}

.btn-dark:hover {
  background-color: #121212;
  color: #fff;
}

.btn-primary-lg {
  color: #198754;
  border: 1px #198754 solid;
  padding: 8px 48px;
}

.btn-primary-lg:hover {
  background-color: #198754;
  color: #fff;
}

.btn-secondary-lg {
  color: #00000099;
  border: 1px #00000099 solid;
  padding: 8px 48px;
}

.btn-secondary-lg:hover {
  background-color: #00000099;
  color: #fff;
}

.btn-danger-lg {
  color: #DC3545;
  border: 1px #DC3545 solid;
  padding: 8px 48px;
}

.btn-danger-lg:hover {
  background-color: #DC3545;
  color: #fff;
}

.btn-info-lg {
  color: #6C757D;
  border: 1px #6C757D solid;
  padding: 8px 48px;
}

.btn-info-lg:hover {
  background-color: #6C757D;
  color: #fff;
}

.btn-light-lg {
  color: #F8F9FA;
  border: 1px #F8F9FA solid;
  padding: 8px 48px;
}

.btn-light-lg:hover {
  background-color: #F8F9FA;
  color: #fff;
}

.btn-dark-lg {
  color: #121212;
  border: 1px #121212 solid;
  padding: 8px 48px;
}

.btn-dark-lg:hover {
  background-color: #121212;
  color: #fff;
}

.btn-white:hover, .btn-white-lg:hover {
  color: #121212;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slideDown {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInRight {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    visibility: visible;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
/*# sourceMappingURL=all.css.map */