//base variables
$spacer: 4px;
$translate-list:"x","y";

//text
$font-name:"1","2","3","4";
$font-base:(
    "1":4,
    "2":6,
    "3":12,
    "4":18,
);

// line-height

$line-height-name: "1","2";
$line-height-base:(
    "1":1,
    "2":1.5
);

$margin-direction:"t","e","b","s";

//spacing-margin

$margin-name:"1","2","3","4","5";

$margin-direction-base:(
    "t":"top",
    "e":"right",
    "b":"bottom",
    "s":"left"
);
$margin-base:(
    "1":4,
    "2":5,
    "3":6,
    "4":8,
    "5":12
);

//spacing-padding 

$padding-name:"1","2","3","4","5";
$padding-direction:"t","e","b","s";
$padding-direction-base:(
    "t":"top",
    "e":"right",
    "b":"bottom",
    "s":"left"
);
$padding-base:(
    "1":4,
    "2":6,
    "3":7.5,
    "4":12,
    "5":24
);

//spacing-width
$width-spacer:10px;
$width-name:1,2,3,4,5,14;

//spacing-height
$height-spacer:10px;
$height-name:1,2,3,4,5,14;

//color

$primary:#198754;
$secondary:#CED4DA;
$danger:#DC3545;
$info:#6C757D;
$light:#F8F9FA;
$dark:#121212;
$white:#fff;

//font,border color
$color-list: "primary","secondary","danger","info", "light", "dark";
$color-map:(
    "primary":$primary,
    "secondary":$secondary,
    "danger":$danger,
    "info":$info,
    "light":$light,
    "dark":$dark
);
//border direction
$direction-list:"top","right","bottom","left";
$direciton-map:(
    "top":top,
    "right":right,
    "bottom":bottom,
    "left":left
);

//gird 

$grid-spacer:118px;
$grid-name:1,2,3,4,5,6,7,8,9,10,11,12;

//flex

$flex-list:"center","start","end","around","between","evenly";
$flex-map:(
    "center":center,
    "start":flex-start,
    "end":flex-end,
    "around":space-around,
    "between":space-between,
    "evenly":space-evenly
);

//z-index
$index-name:1,2,3,4,5,6,7,8,9,10,11,12;

//font famliy
$font-family-list:'Lato','Merriweather';
//font-weight
$font-weight-list:'regular','bold','black';
$font-weight-map:(
    'regular':400,
    'bold':700,
    'black':900
)


